<div class="box2 block-center">
    <h1 class="color2 text-center">You Must be logged in to view this!</h2>
    <form action='/' method="GET">
        <button class="fancy-button block-center">Go To Login Page</button>
    </form>
</div>