<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Network - Register</title>
    <link rel="stylesheet"  href="/styles/styles.css" >
    <script src='/js/handler.js' defer>
    </script>
</head>
<body>
    <div>
        <%- include('partials/header.ejs') %> <br>
        <div class="box2 block-center">
            <form id="registerForm" >
                <div class="text-center">
                    <label></label></br>
                    <input  class="big-textEntry"  type="email" id="email" name="email" placeholder="Email Address" required>
                </div> <br>
                <div class="text-center">
                    <label></label>
                    <input class="big-textEntry" type="password" id="password" name="password" placeholder="Password (Min 8 Characters)" required>
                </div> <br>
                <div class="text-center">
                    <label></label>
                    <input  class="big-textEntry" type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
                </div> <br>
                <div class="text-center">
                    <label></label>
                    <input  class="big-textEntry"  type="text" id="username" name="username" placeholder="Username" required>
                </div> <br>
                <button class="block-center">Submit</button>
            </form>
            <p class="error"></p>
        </div>
    </div>
</body>
</html>
