<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Network</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <script src="/js/handler.js" defer></script>
</head>
<body>
    <% if(session.isLoggedIn){ %>
        <a href="../users/homepage?userID=<%=session.userID%>"><div class='text-center color1' id="header">
            <h1>Character Network</h1>
        </div></a>
        <div>
            <form id="createProjectForm" >
                <div>
                    <label for="name" class="color2">Project Name:</label> <br>
                    <input id="name" name="name" type="text" required>
                    <br><br>
                </div>
                <div>
                    <label for="type" class="color2">Project Type:</label> <br>
                    <select id="type" name="type" required><br>
                        <option value="novel">Novel</option>
                        <option value="short-story">Short Story</option>
                        <option value="poem">Poem</option>
                    </select><br><br>
                </div>
                <div>
                    <label for="genre" class="color2">Project Genre:</label> <br>
                    <select id="genre" name="genre" required><br>
                        <option value="horror">Horror</option>
                        <option value="comedy">Comedy</option>
                        <option value="drama">Drama</option>
                        <option value="comedy">Comedy</option>
                        <option value="adventure">Adventure</option>
                        <option value="action">Action</option>
                        <option value="thriller">Thriller</option>
                        <option value="romance">Romance</option>
                    </select><br><br>
                </div>
                <div>
                    <label for="description" class="color2">Description:</label><br>
                    <textarea id="description" name="description" rows="10" cols="90" wrap="hard" required></textarea><br><br>
                </div>
                <button type="submit" class="fancy-button big-button">Create Project!</button>
            </form>
        </div>
    <% } else { %>
        <%- include('partials/accessDenied.ejs') %>
    <% } %>
</body>
</html>
