<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Network</title>
    <link rel="stylesheet" type="text/css">
</head>
<style>
    .text-center {
            text-align: center;
        }
        
    .color1 {
        color: darkblue;
    }
    
    .longtext {
        height:200px;
        width: 750px;
    }
    
    .fancy-button {
            background-color: lightblue;
    }
        
    .big-button {
            height: 40px;
            width: 15%;
    }
</style>
<body>
    <div>
        <%- include('partials/header.ejs') %>
    </div>
    
    <h2 class="text-center">Create a Character</h2>
    
    <!--The random values will have to be set in a function by an onclick listener for the random button-->
    <!--The below values are only so the code will run until that is set; delete these variables later-->
    <%let randomName = ""%>
    <%let randomEyes = ""%>
    <%let randomHair = ""%>
    <%let randomSkin = ""%>
    <%let randomFeet = ""%>
    <%let randomInches = ""%>
    
    <form action="/characters/createCharacter" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="<%=randomName%>" required><br>
        
        <label for="eyes">Eye Color:</label><br>
        <input type="text" id="eyes" name="eyeColor" value="<%randomEyes%>" required><br>
        
        <label for="hair">Hair Color:</label><br>
        <input type="text" id="hair" name="hairColor" value="<%randomHair%>" required><br>
        
        <label for="skin">Skin Color:</label><br>
        <input type="text" id="skin" name="skinColor" value="<%randomSkin%>" required><br>
        
        <label for="feet">Feet Tall:</label><br>
        <input type="text" id="feet" name="feetTall" value="<%randomFeet%>" required><br>
        
        <label for="inches">Inches Tall:</label><br>
        <input type="text" id="inches" name="inchesTall" value="<%randomInches%>" required><br><br>
        
        <label for="gender">Gender:</label><br>
        <select id="gender" name="gender" required><br>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select><br><br>
        
        <label for="traits">Character Traits:</label><br>
        <input type="text" class="longtext" id="traits" name="characterTraits" value=""><br>
        
        <label for="backstory">Backstory:</label><br>
        <input type="text" class="longtext" id="backstory" name="backstory" value=""><br><br>
        
        <label for="project">Select a Project to Add to</label><br>
        <select id="projects" name="project">
            <option value="">None</option>
            <% for(let i = 0; i < projects.length; i++){ %>
                <option value="<%= projects[i].projectID %>"> <%=projects[i].projectName%></option>
            <%  } %>
        </select><br><br>
        

        <input type="submit" class="fancy-button big-button" value="Create!">
    </form>
</body>
</html>