<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Network</title>
    <link rel="stylesheet" type="text/css">
    <script src="/js/handler.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
    <% if(session.isLoggedIn){ %>
        <a href="../users/homepage?userID=<%=session.userID%>"><div class='text-center color1' id="header">
            <h1>Character Network</h1>
        </div></a>
        <div class="box2 block-center">
            <form id="updateForm" >
                <div>
                    <label for="email"></label></br>
                    <input type="email" id="email" name="email" placeholder="Email Address">
                </div>
                <br>
                <div>
                    <label for="username"></label>
                    <input type="text" id="username" name="username" placeholder="Username">
                </div>
                <br>
                <div>
                    <label for="password"></label>
                    <input type="password" id="password" name="password" placeholder="Password">
                </div>
                <br>
                <div>
                    <label for="bio"></label>
                    <textarea id="bio" name="bio" placeholder="Bio" rows="10" cols="40" wrap="hard"></textarea>
                </div> <br>
                <button id='uploadUpdate' type="submit" class="fancy-button big-button" value="<%= session.userID %>">Submit</button>
            </form>
            <p class="error"></p>
        </div>
    <% } else { %>
        <%- include('partials/accessDenied.ejs') %>
    <% } %>
</body>
</html>
