<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Network</title>
    <link rel="stylesheet" type="text/css">
    <script src="/js/handler.js" defer></script>
</head>
<body>
    <div>
        <%- include('partials/header.ejs') %>
    </div>
    <div>
        <form id="updateForm" >
            <div>
                <label></label></br>
                <input type="email" id="email" name="email" placeholder="Email Address">
            </div>
            <div>
                <label></label>
                <input type="text" id="username" name="username" placeholder="Username">
            </div>
            <div>
                <label></label>
                <input type="password" id="password" name="password" placeholder="Password">
            </div>
            <div>
                <label></label>
                <input type="text" id="bio" name="bio" placeholder="Bio">
            </div>
            <button id='uploadUpdate'value="<%= session.userID %>">Submit</button>
        </form>
        <p class="error"></p>
    </div>
</body>
</html>