<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Network</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<style>
</style>
<body>
    <% if(session.isLoggedIn){ %>
        <a href="../users/homepage?userID=<%=session.userID%>"><div class='text-center color1' id="header">
            <h1>Character Network</h1>
        </div></a>
        <div>
            <% if(friends.length === 0){ %>
                    <h1> No friends to display!</h1>
                <% } %>
            <% for(let i = 0; i < friends.length; ++i){ %>
                <div>
                    <p><%= friends[i].friendID %></p> <br><br>
                    <form action="/users/unfriendUser?friendID=<%= friends[i].friendID %>" method="post">
                        <button type="submit">Unfriend User</button>
                    </form>
                </div>
            <% } %>
        </div>
    <% else { %>
        <%- include('partials/accessDenied.ejs') %>
    <% } %>
</body>
</html>
