<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Network</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<style>
    .text-center {
            text-align: center;
        }
        
    .color1 {
        color: darkblue;
    }
</style>
<body>
    <div>
        <%- include('partials/header.ejs') %>
    </div>
    <div>
        <% if(friends.length === 0){ %>
                <h1> No friends to display!</h1>
            <% } %>
        <% for(let i = 0; i < friends.length; ++i){ %>
            <div>
                <p><%= friends[i].friendID %></p> <br><br>
                <form action="/users/unfriendUser?friendID=<%= friends[i].friendID %>" method="post">
                    <button type="submit">Unfriend User</button>
                </form>
            </div>
        <% } %>
    </div>
</body>
</html>
