<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Network - Homepage</title>
    <link rel="stylesheet" type="text/css">
    <script src='/js/listeners.js' defer></script>
    <style>
        .text-center {
            text-align: center;
            color: darkblue;
        }
        
        .right-align {
            text-align: right;
        }
        
        .fancy-button {
            background-color: lightblue;
        }
        
        
    </style>
</head>
<body>
    <div>
        <% if(session.isLoggedIn === true) { %>
            <form class='right-align' action = "/logout" method="POST" id="logoutForm">
                <button class='fancy-button'>Logout</button>
            </form>
            <%- include('partials/header.ejs') %>
            <p class='text-center'>PFP goes here</p>
            <div>
                <h3 class='text-center'><%= session.username %></h3>
            </div>
            <div>
                <input class='fancy-button' type="button" id="projectsView" value="View Your Projects">
                <input class='fancy-button' type="button" id="friendsView" value="View Your Friends">
                <input class='fancy-button' type="button" id="favoritesView" value="View Your Favorites">
            </div>
        <% }  else { %>
            <%- include('partials/accessDenied.ejs') %>
           <% } %>
    </div>
</body>
</html>