<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Network - Homepage</title>
    <link rel="stylesheet" type="text/css">
    <script src='/js/listeners.js' defer></script>
</head>
<body>
    <div>
        <%- include('partials/header.ejs') %>
        <% if(session.isLoggedIn === true) { %>
            <form action = "/logout" method="POST" id="logoutForm">
                <button>Logout</button>
            </form>
            <div>
                <h1>Hello <%= session.username %>!</h1>
                <h1>This is your homepage</h1>
            </div>
            <div>
                <input type="button" id="projectsView" value="View Your Projects">
                <input type="button" id="friendsView" value="View Your Friends">
                <input type="button" id="favoritesView" value="View Your Favorites">
            </div>
        <% }  else { %>
            <%- include('partials/accessDenied.ejs') %>
           <% } %>
    </div>
</body>
</html>