<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Network</title>
    <link rel="stylesheet" type="text/css">
</head>
<body>
    <div>
        <%- include('partials/header.ejs') %>
    </div>
    <div>
        <% for(let i = 0; i < projects.length; ++i){ %>
                <div>
                    <form action="/projects/projectPage?projectID=<%= projects[i].projectID %>" method="post">
                        <p><%= projects[i].projectDescription %></p>
                        <input type="submit" value="<%= projects[i].projectName %>">
                    </form>
                </div><br>
        <% } %>
    </div>
</body>
</html>