<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Network - Register</title>
    <link rel="stylesheet"  href="/styles/styles.css" >
    <script src='/js/handler.js' defer>
    </script>
</head>
<body>
    <div >
        <%- include('partials/header.ejs') %>
        
        <br> <br> <br>
        <h2 class="text-center color1">Login</h2>
        <div class="box2 block-center">
            <br>
            <form id="loginForm">
                <div class="text-center">
                    <label for="email"></label>
                    <input class="big-textEntry" id="email" name="email" type="email" placeholder="email address" required>
                </div>
                <br>
                <div class="text-center">
                    <label for="password"></label>
                    <input class="big-textEntry" id="password" name="password" type="password" placeholder="password" required>
                </div>
                <br>
                <div class="text-center">
                    <button class="fancy-button big-button">Sign In</button>
                    <p>Not a user? Click <a id='anchor' class="clickable">here</a></p>
                </div>
            </form>
            <p class="error"></p>
        </div>
    </div>
</body>
</html>
