<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Network - Register</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <script src='/js/handler.js' defer>
    </script>
</head>
<body>
    <div>
        <%- include('partials/header.ejs') %>
        <div>
            <form id="loginForm">
                <div>
                    <label for="email"></label>
                    <input id="email" name="email" type="email" placeholder="email address" required>
                </div>
                <div>
                    <label for="password"></label>
                    <input id="password" name="password" type="password" placeholder="password" required>
                </div>
                <div>
                    <button>Sign In</button>
                    <p>Not a user? Click <a id='anchor' style="cursor: pointer;">here</a></p>
                </div>
            </form>
            <p class="error"></p>
        </div>
    </div>
</body>
</html>