<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Network</title>
    <link rel="stylesheet" type="text/css">
</head>
<script src='/js/handler.js' defer></script>
<body>
    <div>
        <%- include('partials/header.ejs') %>
    </div>
    
    <p>Search: <%=searchData.userID%></p>
    <p>Search Type: <%searchType%></p>
</body>