<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Avatar</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <script src="/js/handler.js" defer></script>
</head>
<body>
        <a href="../users/homepage?userID=<%=session.userID%>"><div class='text-center color1' id="header">
            <h1>Character Network</h1>
        </div></a>
        <div>
        <% if(session.isLoggedIn === true) { %>
                <form id='uploadCharImage' class="<%= session.userID %>">
                    <input type="file" name="file"  />
                    <button 
                    id='uploadCharAvatar'
                    type="submit"
                    value="<%= charID %>"
                    >Upload your Avatar!</button>
                </form>
                <p class="error"></p>
        <% } else { %>
            <%- include('partials/accessDenied.ejs') %>
       <% } %>
    </div>
</body>
</html>
