<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <script src="/js/handler.js" defer></script>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div>
        <% if(session.isLoggedIn === true) { %>
                <form id='uploadForm'>
                    <input type="file" name="file"  />
                    <button 
                    id='uploadAvatar'
                    type="submit"
                    value="<%= session.userID %>"
                    >Upload your Avatar!</button>
                </form>
                <p class="error"></p>
        <% } %>
    </div>
</body>
</html>
