    /*createCharacter.ejs*/
    
    /*createCharacterPage.ejs*/
    .text-center {
            text-align: center;
    }
    
    .fancy-button {
            background-color: lightblue;
    }

    
    .big-button {
        height: 40px;
        width: 175px;
    }
    
    .tdPadding {
        padding-left: 50px;
    }

    /*createProject.ejs*/
    .longtext {
            height:200px;
            width: 750px;
    }


    /*createUser.ejs*/
    .big-textEntry {
        height: 50px;
        width: 250px;
    }


    /*editUserPage.ejs*/


    /*friends.ejs*/        
    .color1 {
        color: darkblue;
    }
    
    .color2 {
        color: navy;
    }

    .color3 {
        color: royalblue;
    }
    
    /*homepage.ejs*/ 
    .block-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .circle-pic {
        border-radius: 50%;
    }
    
    .right-align {
        text-align: right;
    }
    
    
    .fancy-button2 {
        background-color: aliceblue;
    }
    
    .bio {
        padding: 15px;
        box-shadow: 1px 1px 5px lightgray;
        border: 1px solid lightgray;
        wrap: hard;
        white-space: pre-line;
    }
    
    a {
        text-decoration: none; 
    }
    
    .clickable:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    
    .header {
        border: 1px solid purple;
        box-shadow: 1px 1px 10px lightgray;
        background-color: aliceblue;
    }
    
    body {
        background-color:white;
    }
    
    .flex-parent {
        display: flex;
        
    }
    .justify-center {
      justify-content: center;
    }
    
    .rightSide {
        margin-right: 20px;
    }

    .emphasis-name {
        letter-spacing: 2px;
    }
    
    .emphasis-hover:hover {
        background-color: lightblue;
    }
    
    .bigger-text {
        font-size: x-large ;
    }
        
    .bottom-border {
        border-bottom-style: black;
    }
    
    .left-align {
        text-align: left;
        padding-left: 20px;
    }
    
    .private {
        color: grey;
    }
    
    .private:hover {
        background-color: lightgrey;
    }
    
    .scrollbox {
        height:300px;
        width:90%;
        border:1px solid darkblue;
        overflow:auto;
        
    }
    /*index.ejs*/


    /*listProjectsPage.ejs*/
    .projectButton {
        height: 50px;
        background-color: lightblue;
        font-weight: bold;
    }
    
    .projectButton:hover {
        background-color: aliceblue;
    }
    
    .box {
        border-left: 5px solid blue;
        background-color: aliceblue;
        padding: 10px;
        width: 50%;
    }
    
    .box2 {
        border-left: 5px solid blue;
        border-right: 5px solid blue;
        background-color: aliceblue;
        padding: 10px;
        width: 50%;
    }

    /*login.ejs*/

    /*projectPage.ejs*/ 
    
    .longtextData {
        height: 100px;
    }
    
    .centerData {
        text-align: center;
    }
    
    .invisible {
        border: none;
    }
    
    a {
        color: darkblue;
    }

    /*searchPage.ejs*/

    /*userUpload.ejs*/